<footer th:fragment="footer" class="footer container-fluid border-top">
  <div class="d-flex justify-content-between align-items-center">
    <!-- Canto Esquerdo -->
    <div class="col-auto">
      <div th:replace="~{fragments/core/locale :: locale}"></div>
    </div>

    <!-- Centro -->
    <div class="col-auto py-2">
      <p th:text="'&copy; ' + ${currentYear} + ' ' + #{'app.title'}"
		 id="copyRight" class="mb-0 text-muted"></p>
    </div>

    <!-- Canto Direito -->
    <div class="col-auto">
      <div th:replace="~{fragments/core/toggleTheme :: toggleTheme}"></div>
    </div>
  </div>
  
  <script>

		footerEvent();

	</script>
  
</footer>
