<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="~{fragments/core/title :: title}"></th:block>
	<th:block th:replace="~{fragments/core/bootstrap :: bootstrap}"></th:block>
	<th:block th:replace="~{fragments/core/jqueryLLS :: jqueryLLS}"></th:block>
</head>

<body>

    <div th:replace="~{fragments/core/alertMessage :: alertMessage}"></div>
	
	<main th:with="id='Login', url=${@environment.getProperty('url.login.checkLogin')}"
		  class="form-signin text-center">
		
		<form th:id="form + ${id}" class="container">
		
			<div th:replace="~{fragments/login/imageLogin :: imageLogin(${id})}"></div>
			
			<div th:replace="~{fragments/login/titleLogin :: titleLogin(${id})}"></div>
			
			<div th:insert="~{fragments/component/inputEmail :: inputEmail}"
				 th:with="id=${id},required=true"></div>
			
			<div th:insert="~{fragments/component/inputPassword :: inputPassword}"
				 th:with="id=${id},required=true"></div>
			
			<div th:insert="~{fragments/login/buttonLogin :: buttonLogin}"
				 th:with="id=${id},iconButton='fa-right-to-bracket'"></div>
			
			<div class="mb-3"></div>
			
			<div th:replace="~{fragments/login/passwordForgot :: passwordForgot(${id})}"></div>
			
		</form>
	
		<script th:inline="javascript">

			$(document).ready(function(){
				
				applyTheme(getPreferredTheme());
				
				loginForm({
					id: [[${id}]],
					url: [[${url}]],
					iconButton: [[${iconButton}]]
				});
				
			});

		</script>
	  
	</main>
    
    <div th:replace="~{fragments/core/footer :: footer}"></div>
    
</body>

</html>
