<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="~{fragments/core/title :: title}"></th:block>
	<th:block th:replace="~{fragments/core/bootstrap :: bootstrap}"></th:block>
	<th:block th:replace="~{fragments/core/jqueryLLS :: jqueryLLS}"></th:block>
</head>

<body>

    <div th:replace="~{fragments/component/alertMessage :: alertMessage}"></div>
			
	<main th:with="id='Login'" class="form-signin text-center">
		
		<form th:id="form + ${id}">
		
			<img th:id="image + ${id}">
		
			<h1 th:id="title + ${id}"></h1>
		
			<div th:insert="~{fragments/component/inputEmail :: inputEmail}"
				 th:with="id=${id},required=true"></div>
		
			<div th:insert="~{fragments/component/inputPassword :: inputPassword}"
				 th:with="id=${id},required=true"></div>
			
			<button th:id="button + ${id}">
				<i th:id="imageButton + ${id}"></i>
			</button>
			
			<div class="mb-3"></div>
			
			<div th:id="passwordForgot + ${id}">
				<a></a>
			</div>
			
		</form>
	
		<script th:inline="javascript">

			$(document).ready(function(){

				loginForm({
					id: [[${id}]]
				});
				
			});

		</script>
	  
	</main>
    
</body>

</html>
