<div th:fragment="alertMessage" id="alertMessage" class="alert-fixed">

	<div role="alert" class="auto-close alert alert-danger alert-dismissible fade show">
		
		<div id="alertMessageText" class="text-center text-break fs-6 position-relative">
		
			<div class="position-absolute top-0 start-0">

				<span class="fa-solid fa-ban fa-beat-fade fa-xl"></span>

			</div>
		
		</div>
		
		<button type="button" class="btn-close btn-lg"
				data-bs-dismiss="alert" aria-label="Close">
		</button>
		
	</div>

</div>
