<div th:fragment="inputPassword"
	 th:with="type='password',
			  id=${id != null ? #strings.capitalize(type) + id :
				#strings.capitalize(type)}">

	<div th:insert="~{fragments/component/input :: input}"
		 th:with="minlength='4',
				  maxlength='10',
				  required=${required},
				  iconClass='fa-regular fa-eye fa-sm',
				  inputClass='form-control password',
				  spanClass='input-group-text togglePassword',
				  label=${label != null ? 'Senha ' + label : 'Senha'},
				  placeholder=${label}">
	</div>
	
	<script th:inline="javascript">

		inputPasswordEvent({
			spanID: [[${'span' + id}]]
		});

	</script>
	
</div>
